# "www" redirect to "non-www" version
# www.isaslodka.com {
#   redir https://izaslodka.com
# }

178.128.243.174 {
  tls dev@dallen.co
  header / Strict-Transport-Security "max-age=31536000;"

  # Remove headers for improved security:
  header / -Server

  # Serve static files:
  root /var/www

  # Allows to use `.gz` files when available:
  gzip

  # Logs:
  log ../access.log
  errors ../errors.log
}
