/*--[ FONTS ]--*/
$body-font: 'Lato', sans-serif;
$header-font: 'Lusitana', serif;

/*--[ BREAKPOINTS ]--*/
$lg-breakpoint: 1400px;
$md-breakpoint: 992px;
$sm-breakpoint: 860px;

@mixin breakpoint($point) {
   @if $point == lg {
      @media (min-width: $lg-breakpoint) { @content ; }
   }
   @else if $point == md {
      @media (min-width: $sm-breakpoint) { @content ; }
   }
   @else if $point == sm {
      @media (max-width: $sm-breakpoint)  { @content ; }

   }
 }

 /*--[ VARIABLES ]--*/
$header-height: 40px;
$top-margin: 24px;
$section-margin: 75px;
$section-margin-1: 50px;
$section-margin-2: ($section-margin - $section-margin-1) ;

$nav-padding: 60px;

$content-width: 55vw;
$content-min-width: ($sm-breakpoint - $nav-padding*2);
$content-max-width: $md-breakpoint;
$side-padding: 60px;
$side-margin-sm: 24px;

$highlight-color: #202d62;
$link-color: #cf2424;
