/*--[ VARIABLES ]--*/

$top-margin: 24px;
$side-margin: 24px;


/*--[ BREAKPOINTS ]--*/

$lg-breakpoint: 1200px;
$sm-breakpoint: 860px;

@mixin breakpoint($point) {
    @if $point == lg {
      @media (min-width: $lg-breakpoint) { @content ; }
   }
     @else if $point == md {
      @media (min-width: $sm-breakpoint) { @content ; }
   }
   @else if $point == sm {
      @media (max-width: $sm-breakpoint)  { @content ; }
 
   }
 }