/*--[ FONTS ]--*/
$serif-font: 'Lusitana', serif;
$sans-font: 'Lato', sans-serif;

/*--[ BREAKPOINTS ]--*/
$lg-breakpoint: 992px;
$md-breakpoint: 860px;
$sm-breakpoint: 690px;

@mixin breakpoint($point) {
   @if $point == lg {
      @media (min-width: $md-breakpoint) { @content ; }
   }
   @else if $point == md {
      @media (max-width: $md-breakpoint) { @content ; }
   }
   @else if $point == sm {
      @media (max-width: $sm-breakpoint)  { @content ; }

   }
 }

 /*--[ VARIABLES ]--*/

$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 50px;
$margin-xl: 75px;

$header-height: 40px;
$nav-padding: 60px;

$side-padding: 60px;
$side-margin-sm: 32px;

$content-width: 55vw;
$content-min-width: ($md-breakpoint - $nav-padding*2);
$content-max-width: $lg-breakpoint;

$highlight-color: #202d62;
$link-color: #bf322f;
$nav-bg: rgba(255, 255, 255, 0.95);