@import "constants";

/*--[ CONTENT CONTAINER ]--*/
#content {
    margin-bottom: 40px;
    max-width: 100vw;
    overflow-x: hidden;
}

#content p {
    line-height: 20px;
    margin-right: 30px;

    @include breakpoint(sm) {
        margin: 0 $side-margin-sm;
	}
}

/*--[ COVER ]--*/
.cover {
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .cover-img {
        flex: 1;
        width: 100%;
        padding-top: 40px;
        overflow: hidden;

        img {
            min-height: 100%;
            min-width: 100%;
            width: 100vw;
            height: auto;
            position: relative;
            object-fit: cover;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/*--[ SECTION ]--*/
.section {
    margin-top: 40px;
    z-index: 20;
}

.subsection {
    margin-bottom: 80px;
}

/*--[ HEADERS ]--*/
.section-header {
    font-family: $header-font;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}

.cover-header {
    z-index: 50;
    width: $content-width;
    max-width: $content-max-width;
    flex: 0 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.title {
    font-size: 3.2em;
    padding-bottom: 10px;

    @include breakpoint(sm) {
        font-size: 2.2em;
	}
}

.subtitle {
    font-size: 2em;
    padding-top: 10px;
    border-top: 1px solid #000;

    @include breakpoint(sm) {
        font-size: 1.2em;
	}
}

.subsection-header {
    font-family: $header-font;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(sm) {
        font-size: 1.4em;
	}
}

.subsection-image {
    @include breakpoint(sm) {
        padding: 0;
        margin-top: 20px;

        img {
            height: auto;
            width: 100%;
        }
	}
}

/*--[ MAKER'S MAZE ]--*/
.maze-img-1 {
    height: 600px;
}

.maze-img-2 {
    z-index: 30;

    img {
        width: 100%;
    }
}

.maze-img-3 {
    text-align: center;
    z-index: 20;

    img {
        height: auto;
        width: 100%;
    }
}

// .participants {
//     position: relative;
//     background: url(~images/makers_maze_image_4.jpg)
// }

// .maze-img-4 {
//     display: absolute;
//     text-align: center;
//     top: 0;
//     margin-top: -500px;

//     img {
//         height: auto;
//         width: 55vw;
//         z-index: 10;
//     }
// }
