@import "constants";

/*--[ BODY ]--*/
body {
  color: #000;
  font-family: $serif-font;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.wp-block-image {
  margin: 0;
}

.aligncenter {
  text-align: center;
}

/*--[ GRID ]--*/

.wp-block-columns {
  display: flex;
  margin: $margin-xl 0;

  @include breakpoint(md) {
    margin: $margin-lg 0;
    flex-direction: column;
  }
}

.wp-block-column {
  flex: 1;
  margin: 0 20px;

  @include breakpoint(md) {
    margin: 0;
  }
}

@media (max-width: 764px) {
  .wp-block-column:first-child {
    flex-basis: 100%;
  }
}

/*--[ IMAGES ]--*/
.wp-block-image, .wp-block-column {
  figure {
    margin: 0;
  }
  img {
    height: auto;
    max-width: 100%;
  }
}

figcaption, .caption {
  color: #666;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
}

/*--[ MOBILE HIDE ]--*/
.toggle-text {
  .hide-sm {
    @include breakpoint(md) {
      display: none;
    }
  }

  .show-toggle,
  .hide-toggle {
    color: $link-color;
    display: none;
    user-select: none;
    cursor: pointer;

    @include breakpoint(md) {
      display: inline;
    }
  }
}

#wpadminbar {
  top: auto;
  bottom: 0;
}