/*--[ BODY ]--*/
body {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*--[ NAME / LOGO ]--*/
#sidebar {
    position: fixed;
    top: 14px;
    left: 24px;
    z-index: 100;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.name {
    font-family: 'Lusitana', serif;
    font-size: 2.4em;
    color: #202d62;

    span {
        display: block;
    }
}

/*--[ NAVIGATION ]--*/
nav {
    font-family: 'Lusitana', serif;
    font-size: 1.4em;
    background: #fff;
    position: fixed;
    width: 55vw;
    min-width: 860px;
    height: 40px;
    padding: 10px 10px 0 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    z-index: 50;
    justify-content: space-between;

    a {
        line-height: 40px;
        color: #000;
    }
    
    a:link, a:visited {
        text-decoration: none;
    }
    
    a:hover, a:active {
        text-decoration: underline;
    }
    
    #links {
        padding: 5px 0;

        a img {
            width: 20px;
            height: 20px;
            margin: 5px 0 0 5px;
        }
    }
}

/*--[ GRID ]--*/

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
}

/*--[ MISC ]--*/

.margins {
    width: 55vw;
    min-width: 860px;
    margin: 0 auto 0 auto;
}

.spacer {
    flex: 1;
}