@import "constants";

/*--[ NAVIGATION ]--*/
#nav-container {
  width: 100%;
  background: #fefefe;
  background-color: $nav-bg;
  border-bottom: 1px solid #dedede;
  padding: 4px 0;
  position: fixed;
  top: 0;
  z-index: 80;
  display: flex;
  flex-direction: row;

  @include breakpoint(md) {
    width: 100vw;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    
    &.open {
      display: block;

      .menu-nav-menu-container {
        display: flex;
        justify-content: center;
      }

      ul {
        flex-direction: column;
        padding-top: 25vh;
        padding-bottom: 25vh;
      }

      li {
        flex: 0;
        margin: $margin-sm 0;
      }

      nav {
        padding: 0;
      }
    }

  }
}

nav {
  font-family: $serif-font;
  font-size: 1.4em;
  height: $header-height;
  padding: 0 $nav-padding;
  flex: 0 1 $content-width;
  min-width: $content-min-width;
  max-width: $content-max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;

  @include breakpoint(md) {
    min-width: 0;
    font-size: 2em;
    height: 100%;
  }

  a {
    line-height: $header-height;
    color: $highlight-color;

    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    transition: 0.2s all;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $link-color;
  }
  
  .menu-nav-menu-container {
    flex: 1 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      display: block;
      flex: 1;
      list-style-type: none;
      text-align: center;
    }
  }
}

#nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  padding: 12px;
  cursor: pointer;

  #nav-close {
    display: none;
  }

  @include breakpoint(md) {
    display: block;
  }
}

.right-nav-spacer {
  flex: 1;
}

.left-nav-spacer {
  flex: 1;
}

/*--[ PROJECT NAV ]--*/
.project-menu {
  a:link, a:visited {
    color: $highlight-color !important;
  }

  a:hover, a:active {
    text-decoration: none !important;
    color: $link-color !important;
  }
}

/*--[ MOBILE ]--*/
#mobile-logo {
  background-color: $nav-bg;
  font-family: $serif-font;
  font-size: 1.4em;
  padding: 8px 16px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  display: none;

  a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      color: $highlight-color;
  }

  @include breakpoint(md) {
      display: none;
      display: flex;
  }
}

@include breakpoint(md) {
  .u_next_story {
    .prev, .next {
      display: none !important;
    }
  }
}