@import "constants";

/*--[ NAVIGATION ]--*/
#nav-container {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 80;
  display: flex;
  flex-direction: row;

  &.open {
    display: block;

    nav {
      padding: 0;
    }
  }

  @include breakpoint(md) {
    padding-top: 10px;
  }

  @include breakpoint(sm) {
    width: 100vw;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
  }
}

nav {
  font-family: $header-font;
  font-size: 1.4em;
  height: $header-height;
  padding: 0 $nav-padding;
  flex: 0 1 $content-width;
  min-width: $content-min-width;
  max-width: $content-max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;

  a {
    line-height: $header-height;
    color: $highlight-color;

    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    transition: 0.2s all;

    &.active {
      text-decoration: underline !important;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }

  .menu-nav-menu-container {
    flex: 1 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
    }
  }
}

#nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  padding: 8px;
  cursor: pointer;

  #nav-close {
    display: none;
  }

  @include breakpoint(sm) {
    display: block;
  }
}

.right-nav-spacer {
  flex: 1 1 60px;
}

.left-nav-spacer {
  flex: 1 0 60px;
}
