@import "constants";

.news-section {
    width: 100% !important;
    padding: 0 !important;
    max-width: none !important;
}


  
.post-heading {
    h3 {
        text-align: left !important;
    }

    .post-date{
        font-family: $sans-font;
        font-weight: bold;
        color: #666;
        margin-bottom: $margin-xs
    }
} 


.latest-posts-masonry {
    padding: 0;
    margin: 0 auto;
    
    li {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 32px 0;

        a:link, a:visited {
            color: #000;
            text-decoration: none;
        }

        a:hover, a:active {
            color: $link-color;
            text-decoration: none;
        }


        .image {
            order: 1;
        }

        .category-display {
            font-weight: 700;
            margin: 12px 0;
            order: 2;
        }

        .title {
            order: 3;
            font-family: $sans-font;
            font-size: 1.3em;
            font-weight: bold;
            border-bottom: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        .date {
            font-weight: 700;
            margin: 12px 0;
            flex: 0; 
            order: 4;
        }

        .excerpt {
            flex: 1;
            order: 5;
        }

        .excerpt-more {
            display: block;
        }
       
        .excerpt-more:link,
        .excerpt-more:visited,
        .excerpt-more:hover,
        .excerpt-more:active {
            text-decoration: underline !important;
            color: $link-color !important;
        }

    }
}