@import "constants";

.news-section {
    width: 100% !important;
    padding: 0 !important;
    max-width: none !important;
}
  
.post-heading {
    text-align: left;
}

.wp-block-latest-posts {
    padding: 0;
    margin: 0 auto;
    
    li {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 32px 0;

        @include breakpoint(sm) {
            margin: 0 44px 48px 44px;

            p {
                margin: 0 !important;
            }
        }

        &>a {
            flex: 0 0 45px;
            font-size: $font-medium;
            font-weight: bold;
            color: #000;
            order: 2;
        }

        &>a:link {
            text-decoration: none;
        }

        figcaption {
            display: none;
        }

        time {
            font-size: $font-small;
            font-family: $sans-font;
            color: #666;
            flex: 0;
            padding-bottom: 5px;
            order: 1;
        }

        .wp-block-latest-posts__post-title {
            font-family: $sans-font;
        }

        .wp-block-latest-posts__post-excerpt {
            flex: 1;
            order: 3;
        }

        .wp-block-latest-posts__post-full-content {
            order: 3;
        }
    }
}