@import "constants";

/*--[ NAME / LOGO ]--*/
#sidebar {
    background-color: #fff;
    box-shadow: 6px 6px 4px -6px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    @include breakpoint(md) {
        padding: 14px 24px;
    }

    @include breakpoint(sm) {
        width: 100%;
        box-shadow: none;
    }
}

.logo-container {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

#logo {
    height: auto;
    width: 50px;

    @include breakpoint(lg) {
        width: 120px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    @include breakpoint(sm) {
        display: none;
    }
}

#top-arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $highlight-color;
    opacity: 0;

    svg {
        height: 40px;
        width: 40px;
    }
}

.name {
    font-family: $header-font;
    color: $highlight-color;
    display: inline-block;
    font-size: 1.4em;
    user-select: none;

    .studio {
        font-size: 0.6em;

        @include breakpoint(sm) {
            display: none;
        }
    }

    span {
        display: block;

        @include breakpoint(sm) {
            display: inline;
            font-size: 1em;
            line-height: $header-height;
        }
    }

    @include breakpoint(lg) {
        display: block;
        font-size: 2.4em;
    }

    @include breakpoint(sm) {
        margin-left: 14px;
    }
}